.ods-map-wrapper {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.ods-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
// selector.active allow you to give a different transition style for each of your feature with only adding the .active class
.ods-map-wrapper.active {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
