@import './components/ods-map.scss';
@import './components/ods-chart/ods-chart.scss';
@import './components/ods-gauge/ods-gauge.scss';
@import './components/story-block.scss';
@import './components/features.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#intro {
  height: 100vh;
}

@media (max-width: 750px) {
  #features {
    width: 90vw;
    margin: 0 auto;
  }
}
