@import './components/ods-map.scss';
@import './components/ods-chart.scss';
@import './components/reveal-list/reveal-list.scss';
@import './components/story-block.scss';
@import './components/features.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.prose {
  max-width: 54rem;
  margin: 21rem auto
}

@media (max-width: 750px) {
  #features {
    width: 90vw;
    margin: 0 auto;
  }
}
