@import './components/ods-map.scss';
@import './components/ods-chart.scss';
@import './components/reveal-list/reveal-list.scss';
@import './components/story-block.scss';
@import './components/features.scss';
@import './components/mapbox/mapbox.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.scroll-columns {
  display: flex;
  max-width: 89rem;
  margin: 0 auto;
}

.prose {
  max-width: 54rem;
  margin: 21rem auto
}
