$primary: #142e7b;
$light: #f6f8fb;

.summary-table {
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
  margin: 55px 0px;
}

.summary-table thead {
  background: $light;
  color: $primary;
}


.summary-table td,
th {
  padding: 1rem;
  border-top: 1px solid;
  border-color: #dee5ef;
}

.insight-card {
  padding: 5px 0;
  margin: 13px;
  border-top: 3px solid $primary;
  text-align: justify;
}

.sticky-content {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $primary;
    color: white;
    padding: 3rem 20px;
}

.text-primary {
  color: $primary;
}

.text-light {
  color: $light;
}

.justify-content-around {
  display: flex;
  justify-content: space-around;
}
